$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: 5rem,
  800: 3.75rem,
  600: 1.6875rem,
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

$fw-400: 400;
$fw-700: 700;
